extends layout

block footer
  script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='https://d3js.org/d3.v3.min.js' charset='utf-8')
  script(src='/javascripts/d3.layout.cloud.js' charset='utf-8')
  script(src='/javascripts/video_stats.js')

block content
  h1= title
  p #{title}

  div#container
    div#video-section(data-video-name='#{videoName}')
      div#video-player
        div#video
          video(width='768', heigth='432', controls, autoplay)
            source(src='/uploads/#{videoName}.mp4')

    div#word-clouds
      div#video-words-section.words-section
        div.words-header
          img(src='/images/keyframeObj.png')
        div#video-word-cloud.word-cloud
        div.words-bottom
          input(type="button" value="Compare Data")
      div#audio-words-section.words-section
        div.words-header
          img(src='/images/audioExtraction.png')
        div#audio-word-cloud.word-cloud
        div.words-bottom
          input(type="button" value="Compare Data")
