body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#upload-background {
  height:100%;
  width:100%;
  background-color:#333333;
}

#upload-sect {
  max-width:900px;
	height:100%;
  background-color:#333333;
  text-align:center;
}

#upload-form span {
  color: #bfbfbf;
}

#container {
  margin: auto;
  width:1000px;
}

.words-section {
  width:50%;
  height:500px;
  background-color:#333333;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#word-clouds {
  max-width:1000px;
}

#video-section {
  height:450px;
  text-align: center;
  background-image: url('/images/sky.jpg');
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#video-player{
  position: relative;
  top: 10%;
  transform: translateY(-10%);
  color:#fff;
  font-size:24px;
  height:432px;
  padding-top:9px;
  padding-bottom:9px;
}

#analyzing-video-img {
  height:130px;
}

#analyzing-video-text {
  height:70px;
}

#video-words-section {
  float:right;
  border-left-style:solid;
  border-color:#bfbfbf;
  border-width:1px;
}

.words-header {
  height:100px;
  width:100%;
  text-align:center;
}

.words-header img {
  height:100px;
}

.word-cloud {
  height:60%
}

.words-bottom {
  height:100px;
  text-align: center;

}

.words-bottom input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-style:none;
  background-color:#2294F2;
  color:#fff;
  padding:8px;
}

#audio-words-section {
  float:left;
}
